<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@yield("title")</title>

    <!-- fontawesome -->
    <link rel="stylesheet" href="D:/xampp/htdocs/T3H/1-ProjectForTheEndOfTheCourse/LaravelRestaurant/public/fe-assets/fontawesome-free-5.15.3-web/css/all.css">

    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="D:/xampp/htdocs/T3H/1-ProjectForTheEndOfTheCourse/LaravelRestaurant/public/fe-assets/bootstrap-4.6.0/css/bootstrap.css">

    <!-- bootstrap jquery -->
    <script src="D:/xampp/htdocs/T3H/1-ProjectForTheEndOfTheCourse/LaravelRestaurant/public/fe-assets/jquery/jquery-3.6.0.slim.js"></script>

    <!-- bootstrap javascript -->
    <script type="text/javascript" src="D:/xampp/htdocs/T3H/1-ProjectForTheEndOfTheCourse/LaravelRestaurant/public/fe-assets/bootstrap-4.6.0/js/bootstrap.js"></script>

    <link rel="stylesheet" href="main2.css">
    
</head>
<body>
    
    <div id="ontopsticky">
        <header class="header" id="header">
            <div class="container-{breakpoint}">
                <div class="header-left">
                    <a href="main2.html">
                        <img class="header-logo" src="logo.png" alt="Logo">
                    </a>
                </div>      
                <div class="header-right">
                    <a href="#login" style="color: black;" role="button">Login</a>
                    <a href="#register" style="color: black" role="button">Register</a>
                </div>
    
            </div>
        </header>
    
        <section class="thenavbar" id="navbar">
            <!-- <div class="container-{breakpoint}"> -->
                <ul class="navbar-ul" id="navbar-ul">
                    <a class="nav-link icon" href="javascript:void(0);" onclick="navfunction()"><i class="fas fa-bars"></i></a>
                    <li class="nav-item"><a class="nav-link " href="#1">HOME</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#2">PIZZA</a></li>
                    <li class="nav-item"><a class="nav-link" href="#3">MÌ Ý & CƠM</a></li>
                    <li class="nav-item"><a class="nav-link" href="#4">MÓN KHAI VỊ</a></li>
                    <li class="nav-item"><a class="nav-link" href="#5">THỨC UỐNG</a></li> 
                </ul>
            <!-- </div> -->
        </section>
    </div>

    <script src="main2js.js"></script>

    <div style="padding: 5px 30px;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione earum vitae asperiores, sapiente enim dolorem inventore maxime reiciendis incidunt assumenda eum cum! Ipsam hic arch itecto fugit cupiditate ea earum est.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione earum vitae asperiores, sapiente enim dolorem inventore maxime reiciendis incidunt assumenda eum cum! Ipsam hic archi tecto fugit cupiditate ea earum est.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione earum vitae asperiores, sapiente enim dolorem inventore maxime reiciendis incidunt assumenda eum cum! Ipsam hic archi tecto fugit cupiditate ea earum est.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione earum vitae asperiores, sapiente enim dolorem inventore maxime reiciendis incidunt assumenda eum cum! Ipsam hic archi tecto fugit cupiditate ea earum est.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione earum vitae asperiores, sapiente enim dolorem inventore maxime reiciendis incidunt assumenda eum cum! Ipsam hic archi tecto fugit cupiditate ea earum est.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione earum vitae asperiores, sapiente enim dolorem inventore maxime reiciendis incidunt assumenda eum cum! Ipsam hic archi tecto fugit cupiditate ea earum est.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione earum vitae asperiores, sapiente enim dolorem inventore maxime reiciendis incidunt assumenda eum cum! Ipsam hic arch itecto fugit cupiditate ea earum est.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione earum vitae asperiores, sapiente enim dolorem inventore maxime reiciendis incidunt assumenda eum cum! Ipsam hic arch itecto fugit cupiditate ea earum est.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione earum vitae asperiores, sapiente enim dolorem inventore maxime reiciendis incidunt assumenda eum cum! Ipsam hic archi tecto fugit cupiditate ea earum est.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione earum vitae asperiores, sapiente enim dolorem inventore maxime reiciendis incidunt assumenda eum cum! Ipsam hic archi tecto fugit cupiditate ea earum est.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione earum vitae asperiores, sapiente enim dolorem inventore maxime reiciendis incidunt assumenda eum cum! Ipsam hic archi tecto fugit cupiditate ea earum est.</p>
        <p>Lo rem ipsum dolor sit amet consectetur adipisicing elit. Ratione earum vitae asperiores, sapiente enim dolorem inventore maxime reiciendis incidunt assumenda eum cum! Ipsam hic archit ecto fugit cupiditate ea earum est.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione earum vitae asperiores, sapiente enim dolorem inventore maxime reiciendis incidunt assumenda eum cum! Ipsam hic arc hit ecto fugit cupiditate ea earum est.</p>
    </div>

    <footer class="footer" id="footer">
        <div class="container-{breakpoint}">
            <div class="footer-content">
                <h3>RESTAURANT</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A voluptatum vel odio doloremque! Perspiciatis, eligendi! Repudiandae quaerat quo ipsum eveniet, rerum cupiditate nemo ab maxime quas, fugiat perspiciatis tenetur voluptatum.</p>
            </div>
            <div class="footer-bottom">
                <p>Copyright © 2021 Restaurant.</p>
            </div>
        </div>
    </footer>
</body>
</html>